    <!-- About Section -->
    <section id="accueil" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Lieu d'accueil</h2>
                <p>Les aîné(e)s - de l’âge AVS - peuvent passer en compagnie des journées agréables. Ils sont entourés par des personnes formées en accompagnement et animation.</p>
                <p>Le repas de midi, préparé par le Restaurant bio de L’Aubier, est pris en commun. Durant la matinée et au cours de l’après-midi des pauses-café sont prévues.</p>
                <p>Des chaises-longues invitent à un moment de repos, selon le besoin de la personne âgée.</p>
                <p>Ces rencontres créent des liens sociaux et stimulent les ressources individuelles, ce qui contribue au maintien à domicile de l’aîné(e).</p>
            </div>
        </div>
    </section>
