    <!-- Download Section -->
    <section id="activites" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Les activités</h2>
                    <p>Toutes les activités sont proposées dans le but de favoriser le plaisir et le bien-être : musique (écoutée et/ou chantée), lectures, jeux, peinture, gymnastique douce, promenades ou séjour sur la  terrasse, visite des animaux de la ferme de L’Aubier, préparation du goûter, …. Le tout selon les possibilités de chaque personne.</p>
                </div>
            </div>
        </div>
    </section>
