    <!-- Download Section -->
    <section id="lieu" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Le lieu</h2>
                    <p>L’appartement lumineux dans l’éco-quartier Les Murmures à Montézillon est doté d’une grande terrasse au sud. Un jardin invite à flâner et la ferme de L’Aubier est toute proche.</p>
                </div>
            </div>
        </div>
    </section>
